{% extends 'base.html' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{i.img.url}}" alt="image" width="400px">
        </div>
        <div class="col-md-6">
            <h1>{{i.name}} ({{i.year}})</h1>
            <h6>{{i.desc}}</h6>
            <a class="btn btn-warning" href="{% url 'movieapp:update' i.id %}">Update</a>
            <a class="btn btn-danger" href="{% url 'movieapp:delete' i.id %}">Delete</a>
        </div>
    </div>
</div>


{% endblock %}
